body{
    color:rgb(83, 83, 85);
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: rgb(196, 64, 97);
}

h2{
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
color: rgb(196, 64, 97);
font-weight: normal;
}

h3{
font-family: 'Montserrat', sans-serif;
color: rgb(131, 68, 84);
}

p{
    line-height: 2;
}

hr{
    border: dotted rgb(255, 241, 244) 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    color:rgb(196, 64, 97);
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color:rgb(253, 241, 241);
}

.top-container{
    background-color: rgb(253, 241, 241);
    position: relative;
    padding-top: 100px;
}

.profilepic{
    width: 300px;
    height: 300px;
}

.middle-container{
margin: 100px 0;
}

.bottom-container{
background-color: rgb(245, 157, 157);
padding: 50px 0 20px;
}
.pro{
    text-decoration: underline;
}

.intro{
    width: 30%;
    margin: auto;
}

.contactme{
    width: 30%;
    margin: 40px auto 60px;
}

.top-cloud{
    position: absolute;
    right: 500px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 500px;
    bottom: 300px;
}

.programming{
    width: 300px;
    height: 300px;
    background-color: rgb(94, 94, 133);
    border-radius: 50%;
}


.skill-row{
    width: 50%;
    margin: 200px auto 200px auto;
    text-align: left;
}
.skill-rowc{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.cplusplus{
    width: 25%; 
    background-color: rgb(94, 94, 133);
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.html{
    width: 25%;   
    background-color: rgb(94, 94, 133);
    border-radius: 50%;
    float: right;
    margin-left: 20px;
}
.css{
    width: 25%;   
    background-color: rgb(94, 94, 133);
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.python{
    width: 25%;   
    background-color: rgb(94, 94, 133);
    border-radius: 50%;
    float: right;
    margin-left: 20px;
}
.microsoftoffice{
    width: 25%;   
    background-color: rgb(94, 94, 133);
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.adobephotoshop{
    width: 25%;   
    background-color: rgb(94, 94, 133);
    border-radius: 50%;
    float: right;
    margin-left: 20px;
}

.btn {
    background: #e04a83;
    background-image: -webkit-linear-gradient(top, #e04a83, #d65689);
    background-image: -moz-linear-gradient(top, #e04a83, #d65689);
    background-image: -ms-linear-gradient(top, #e04a83, #d65689);
    background-image: -o-linear-gradient(top, #e04a83, #d65689);
    background-image: linear-gradient(to bottom, #e04a83, #d65689);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #faadc9;
    background-image: -webkit-linear-gradient(top, #faadc9, #eb88a1);
    background-image: -moz-linear-gradient(top, #faadc9, #eb88a1);
    background-image: -ms-linear-gradient(top, #faadc9, #eb88a1);
    background-image: -o-linear-gradient(top, #faadc9, #eb88a1);
    background-image: linear-gradient(to bottom, #faadc9, #eb88a1);
    text-decoration: none;
  }

  .copyright{
      color:rgb(253, 241, 241);
      font-size: 0.90rem;
      padding: 20px 10px;
  }